absl-py==0.9.0
astor==0.8.1
bert-serving-client==1.10.0
faiss-gpu==1.6.1
gast==0.3.2
grpcio==1.26.0
h5py==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
mock==3.0.5
numpy==1.18.1
pandas==0.25.3
protobuf==3.18.3
python-dateutil==2.8.1
pytz==2019.3
pyzmq==18.1.1
six==1.14.0
tensorboard==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.1
termcolor==1.1.0
Werkzeug==0.16.0
xlrd==1.2.0
